// COLORS
$color-primary: #62a5e8;
$color-secondary: #71e3df;
$color-white: #fff;
$color-text: #1a1a1a;
$color-dark: #062a5b;

// fonts
$font-primary: 'SF Pro Display', sans-serif;

$laptop-land: 75em; //1200px / 16px = 75em
$laptop-port: 64em; //1024px / 16px = 64em
$tab-land: 62em; //992px / 16px = 62em
$tab-port: 48em; //768px / 16px = 48em
$mbl-land: 35.9375em; //575px / 16px = 35.9375em
$mbl-port: 30em; //480px / 16px = 30em
$mbl-small: 23.75em; //380px / 16px = 23.75em
